*{
    margin: 0;
    padding: 0;
}

ul, li, p, span, a {
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url("../images/pizza-city-background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Prata', serif;
}

.restaurant_name_pizza-city-2 > img {
    background-color: #E6C28A;
    border-radius: 15px;
}

.pizza_city_2_restaurant_image {
    cursor: pointer;
    box-shadow: 8px 6px 40px rgba(0,0,0,0.5);
    width: 400px;
    transition:width 1s ease;
}

.show_body_content {
    opacity: 1;
    transition: all ease 2s ;
}

.body_content_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 4%;
    font-size: 25px;
    /*color: blanchedalmond;*/
    color: black;
}

.body_restaurant {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.body_restaurant_pizza_city_2 {
    margin: 1%;
}

@media (max-width: 320px) {
    .pizza_city_2_restaurant_image {
        width: 100%;
    }

    .pizza_city_2_restaurant_image {
        flex-basis: auto;
    }
}

@media (max-width: 480px) {
    .pizza_city_2_restaurant_image {
        width: 100%;
    }
    .pizza_city_2_restaurant_image {
        flex-basis: auto;
    }
}

@media (max-width: 900px) {
    .pizza_city_2_restaurant_image {
        width: 100%;
    }
    .pizza_city_2_restaurant_image {
        flex-basis: auto;
    }
}

